<app-sidebar-management></app-sidebar-management>
<div class="content">
    <h1 id="title_landingAdm">Bem-vindo à Maré de Brincadeiras!</h1>
    <section class="dashboard">
        <div class="card"> <h3>Total de vendas</h3> <p>{{ totalVendas }}</p> </div>
        <div class="card"> <h3>Produtos cadastrados</h3> <p>{{totalProdutos}}</p> </div>
        <div class="card"> <h3>Clientes ativos</h3> <p>{{totalClientes}}</p> </div>
        <div class="card"> <h3>Avaliações</h3> <p>4.8 ★</p> </div>
    </section>

    <section class="orders">
        <h2>Últimos Pedidos</h2>
        <app-relatorio-vendas></app-relatorio-vendas>
    </section>
</div>
