<main class="cadastro-usuario">
    <main class="cadastro-usuario" style="background-image: url('assets/img/seaBackground.png'); background-size: cover; background-position: center;">
        <form>
    <form>
      <h1>Cadastre sua conta!</h1>
  
      <h3>Continue com e-mail:</h3>
  
      <div class="input-box">
        <input placeholder="E-mail" type="email">
        <i class="bx bxs-envelope"></i>
      </div>
  
      <div class="input-box">
        <input placeholder="Nome" type="text">
        <i class="bx bxs-user"></i>
      </div>
  
      <div class="input-box">
        <input placeholder="Telefone" type="tel">
        <i class="bx bxs-phone"></i>
      </div>
  
      <div class="input-box">
        <input placeholder="Senha" type="password">
        <i class="bx bxs-lock-alt"></i>
      </div>
  
      <div class="input-box">
        <input placeholder="Confirmar senha" type="password">
        <i class="bx bxs-lock-open"></i>
      </div>
  
      <button class="enter" type="submit">Continuar</button>
  
      <div class="register-link">
        
      </div>
    </form>
  </main>
  

