<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  <div class="input-box">
    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome" type="text" placeholder="Nome">
  </div>

  <div class="input-box">
    <label for="email">E-mail</label>
    <input id="email" formControlName="email" type="email" placeholder="E-mail">
  </div>

  <div class="input-box">
    <label for="telefone">Telefone</label>
    <input id="telefone" formControlName="telefone" type="tel" placeholder="Telefone">
  </div>

  <div class="input-box">
    <label for="senha">Senha</label>
    <input id="senha" formControlName="senha" type="password" placeholder="Senha">
  </div>

  <div class="input-box">
    <label for="confirmarSenha">Confirmar Senha</label>
    <input id="confirmarSenha" formControlName="confirmarSenha" type="password" placeholder="Confirmar Senha">
  </div>

  <button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
</form>

