<footer>
  <div class="footer-container">
    <div class="footer-image">
      <img src="assets/img/logo.png" alt="Logo" />
    </div>
    <div class="footer-section">
      <div class="footer-top">
        <div class="footer-top-left">
          <i class="fas fa-map-marker-alt"></i>
          <div>
            <span> Rua Nome Exemplo, 123 - Bairro </span>
            <span>00000-000</span>
          </div>
        </div>
        <div class="footer-top-right">
          <a routerLink="/products">Produtos</a>
          <a routerLink="/about">Quem Somos</a>
          <a routerLink="/faq">Perguntas Frequentes</a>
          <a routerLink="/contact">Entre em Contato</a>
        </div>
      </div>

      <!-- Line -->
      <div class="line"></div>

      <div class="footer-bottom">
        <div class="footer-bottom-left">
          <p>
            Copyright &copy; {{ currentYear }} Oceano Encantado - Direitos Reservados
          </p>
        </div>
        <div class="footer-bottom-right">
          <a routerLink="/privacy">Política de Privacidade</a>
          <a routerLink="/terms">Termos de Uso</a>
        </div>
      </div>
    </div>
  </div>
</footer>
