<app-sidebar-management></app-sidebar-management>
<div class="container-principal">
  
<div class="test">
<div class="title-button">
    <h1>Novo Produto</h1>
</div>

<div class="div-form">
    <form class="form-products">
        
        <div class="form1">
            <div class="components-form1">
            <label for="txtProducts">Nome Produto</label>
            <input type="text" name="txtProducts" id="txtProducts" [(ngModel)]="product.name" required>

            <label for="txtDescription">Descrição do Produto</label>
            <textarea id="txtDescription" [(ngModel)]="product.description" required></textarea>

            </div>
            

            <div class="upload-box" (click)="fileInput.click()">
                <p *ngIf="!product.image">Clique ou arraste uma imagem aqui</p>
                <input type="file" #fileInput (change)="imagemDestaque($event)">
                <img *ngIf="product.image" [src]="product.image" alt="Preview">
            </div>
        </div>

        
       

        <div class="form2">
            <label>Categoria</label>
            <select id="select-Categories" name="categoryId" [(ngModel)]="product.categoryId" required>
                <option>Insira uma categoria</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.nome }}</option>
            </select>
        </div>
        

       <div class="form3">
            <div class="column">
                <label for="txtColor">Cor</label>
                <input type="text" name="txtColor" id="txtColor"  [(ngModel)]="product.color" required>
            </div>
                
            <div class="column">
                <label for="txtSize">Tamanho</label>
                <input type="text" name="txtSize" id="txtSize"  [(ngModel)]="product.size" required>
            </div>
        </div>

        <div class="form3">
            <div class="column">
                <label for="productValue">Valor</label>
                <input  type="number" name="productValue" id="productValue"  [(ngModel)]="product.value" required>
            </div>
           
            <div class="column">
                <label for="quantity">Quantidade em estoque</label>
                <input type="number" name="quantity" id="quantity"  [(ngModel)]="product.quantity" required>
            </div>

            <div class="cancel-save">
                <button type="button" (click)="cancelar()">Cancelar</button>
                <button type="button" (click)="submeter()">Salvar</button> <!-- Corrigido -->
              </div>


            
        </div>

        
    </form>
</div>

</div>