@use 'colors' as *;

/* Header */
header {
  width: 100%;
  background-color: $secondary-color;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
  }

  .logo {
    img {
      width: 70px;
      height: auto;
    }
  }

  .menu {
    nav {
      ul {
        display: flex;
        list-style: none;

        li {
          margin: 0 15px;

          a {
            text-decoration: none;
            color: $primary-color;
            font-size: 19px;
            font-weight: 500;
            transition: 0.3s all;

            &:hover,
            &.active {
              color: $hover-color;
            }
          }
        }
      }
    }
  }

  .user-actions {
    display: flex;
    align-items: center;

    .login-btn,
    .favorites,
    .cart {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $primary-color;
      font-size: 25px;
      margin-left: 20px;
      transition: 0.3s all;

      &:hover {
        color: $hover-color;
      }

      span {
        margin-left: 5px;
        font-size: 14px;
      }
    }

    .cart {
      position: relative;

      .cart-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: $primary-color;
        color: $white;
        font-size: 12px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    cursor: pointer;
    color: $primary-color;
    font-size: 25px;
  }

  .mobile-menu {
    display: none;

    &.open {
      display: block;
    }

    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: $secondary-color;
    padding: 20px;
    z-index: 1000;

    ul {
      list-style: none;

      li {
        margin: 15px 0;

        a {
          text-decoration: none;
          color: $primary-color;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .mobile-user-actions {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      border-top: 1px solid $primary-color;
      padding-top: 20px;

      a {
        margin: 10px 0;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary-color;

        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .favorites {
        span {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }

  // Responsividade
  @media (max-width: 1024px) {
    .menu,
    .user-actions {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
    }
  }
}
