

<div class="favorites-container">
    <header class="header">
      <h1>Meus Brinquedos Favoritos</h1>
      <p class="subtitle">Explore a minha seleção especial!</p>
    </header>
  
    <div class="favorites-grid">
      <div *ngFor="let brinquedo of brinquedos" class="favorite-item">
        <div class="image-container">
          <img [src]="brinquedo.imagem" alt="{{ brinquedo.nome }}">
        </div>
        <div class="item-details">
          <h2>{{ brinquedo.nome }}</h2>
          <p>{{ brinquedo.descricao }}</p>
        </div>
        <div class="favorite-actions">
          <button class="add-to-cart">Adicionar ao Carrinho</button>
          <button class="details">Detalhes</button>
        </div>
      </div>
    </div>
  </div>
  
