<div class="product">
  <span class="discount" *ngIf="product.discount">-{{ product.discount }}%</span>
  <div class="icons">
    <button class="favorite-icon" (click)="toggleFavorite($event)" [class.active]="product.isFavorite"
      aria-label="Favoritar produto">
      <i [ngClass]="product.isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
    </button>
    <a href="#" (click)="viewProduct($event, product.id)">
      <i class="fas fa-eye"></i>
    </a>
  </div>
  <img [src]="product.image" [alt]="product.name" />
  <button class="button" (click)="addToCart()">Adicionar</button>
  <h3>{{ product.name }}</h3>
  <div class="price-container">
    <p class="price" [ngClass]="{'blue-price': !product.oldValue}">R${{ product.value.toFixed(2).replace('.', ',') }}
    </p>
    <p class="old-price" *ngIf="product.oldValue">R${{ product.oldValue.toFixed(2).replace('.', ',') }}</p>
  </div>
</div>