<div class="cards">
    <div class="card">
        <div class="card-elements">
            <img src="./assets/img/fceb8ab1-7e1a-416a-8b77-f34987ce397d.png">
            <h1>Estrutura de escada para crianças</h1>
            <p>CÓD 001</p>
            <div class="edit-delete-cards">
                <img onclick="window.location.href='productEdit.html'" src="./assets/img/edit.png" alt="">
                <img src="./assets/img/delete.png" alt="">
            </div>

            </div>
        </div>

    </div>

