<p-toast></p-toast>
<div class="body">
  <div class="container">
    <form>
      <h1>Esqueceu sua senha?</h1>
      <h3>Informe seu e-mail para redefinir</h3>

      <div class="input-box">
        <label for="txtEmail">E-mail</label>
        <input type="email" name="txtEmail" id="txtEmail" [(ngModel)]="email" placeholder="Digite seu e-mail cadastrado"
          required>
        <i class="bx bxs-envelope"></i>
      </div>

      <button (click)="enviarRedefinicao()" class="enter" type="button">Enviar link de redefinição</button>

      <div class="register-link">
        <p>Lembrou sua senha? <a (click)="voltarLogin()">Voltar para o login</a></p>
      </div>
    </form>
  </div>
</div>