<app-sidebar-management></app-sidebar-management>
<app-sidebar-management></app-sidebar-management>
<div class="content">
    <header>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-circle-user"></i>
    </header>
    <div id="title">
    <h1>Colaboradores</h1>
    <button type="button" class="collaborators_btn" (click)="novoRegistro()">Novo registro</button>
    </div>
    <section class="dashboard">
        <div class="card"> <h3>Colaboradores registrados</h3> <p>10</p> </div>
        <div class="card"> <h3>Total de departamentos</h3> <p>7</p> </div>
        <div class="card"> <h3>Último registro adicionado</h3> <p>22/03/2024</p> </div>
    </section>
    <section class="collaborators">
        <h2>Registros</h2>
        <table class="collaborators-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Depto.</th>
                    <th>Data de admissão</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#001</td>
                    <td>João Silva</td>
                    <td>Vendas</td>
                    <td>30/03/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#002</td>
                    <td>Maria Souza</td>
                    <td>Vendas</td>
                    <td>22/04/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#003</td>
                    <td>Carlos Lima</td>
                    <td>Tecnologia</td>
                    <td>06/06/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#004</td>
                    <td>Lucas Andrade</td>
                    <td>Tecnologia</td>
                    <td>07/06/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#005</td>
                    <td>Camila Ferreira</td>
                    <td>Marketing</td>
                    <td>30/06/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#006</td>
                    <td>João Meireles</td>
                    <td>Financeiro</td>
                    <td>30/06/2022</td>
                    <td>Inativo</td>
                </tr>
                <tr>
                    <td>#007</td>
                    <td>Beatriz Lima</td>
                    <td>Financeiro</td>
                    <td>02/08/2022</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#008</td>
                    <td>Rafael Tavares</td>
                    <td>Recursos Humanos</td>
                    <td>07/08/2023</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#009</td>
                    <td>Ana Paula Borges</td>
                    <td>Comercial</td>
                    <td>27/02/2024</td>
                    <td>Ativo</td>
                </tr>
                <tr>
                    <td>#010</td>
                    <td>Tiago Martins</td>
                    <td>Suporte</td>
                    <td>22/03/2024</td>
                    <td>Ativo</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>