<app-sidebar-management class="sidebar"></app-sidebar-management>

<div class="container-principal">
    <div class="products-area">
        <div class="icons">
            <img src="./assets/img/notify.png" alt="">
            <img src="./assets/img/perfil.png" alt="">
        </div>
        <div>
            <div class="title-button">
                <h1>Produtos Cadastrados</h1>
                <button (click)="novoProduto()" class="new-product">Novo Produto</button>
            </div>
            <div class="productsList">
                <app-product-card-manager [products]="productCard"></app-product-card-manager>
            </div>
        </div>
    </div>
</div>
