
*{
    font-family: "Poppins", sans-serif;
}



.container-principal{
    display: flex;
    margin-left: 350px;
}

.products-area{
    width: 100%;
    padding: 1em;
}



.icons{
    display: flex;
    justify-content: end;
}



.icons img{
    margin: 1em;
    background-color: transparent;
}

.new-product{
    background-color: #3A86FF;
    color: white;
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.new-product:hover{
    background-color: #2667CF;
}

.title-button{
    display: flex;
    justify-content: space-between;
    margin: 3em 2em;
}

