<div class="container-principal">
    <div class="sidebar">
        <div id="logo">
            <img src="assets\img\logo.png" alt="some text" width=60 height=60>
            <h2>Maré Brincadeiras</h2>
        </div>
        <ul>
            <li><a href="#">Página inicial</a></li>
            <li><a href="#">Estatísticas</a></li>
        </ul>
        <div class="adm">Administrar</div>
        <ul>
            <li><a href="#">Vendas</a></li>
            <li class="submenu_Products">
                <a href="#">Produtos</a>
                <ul>
                    <li><a href="#">Lista de produtos</a></li>
                    <li><a href="categoryManagement.html">Categorias</a></li>
                </ul>
            </li>
            <li><a href="#">Avaliações</a></li>
            <li><a href="#">Colaboradores</a></li>
        </ul>
    </div>
    <div class="products-area">
        <div class="icons">
            <img src="./assets/img/notify.png" alt="">
            <img src="./assets/img/perfil.png" alt="">
        </div>
        <div>
            <div class="title-button">
                <h1>Produtos Cadastrados</h1>
                <button onclick="window.location.href='registerProducts.html'" class="new-product">Novo Produto</button>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-elements">
                    <img src="./assets/img/fceb8ab1-7e1a-416a-8b77-f34987ce397d.png">
                    <h1>Estrutura de escada para crianças</h1>
                    <p>CÓD 001</p>
                    <div class="edit-delete-cards">
                        <img onclick="window.location.href='productEdit.html'" src="./assets/img/edit.png" alt="">
                        <img src="./assets/img/delete.png" alt="">
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


