<app-header></app-header>

<main class="pagina-pedidos">
  <section class="titulo-pagina">
    <h1>MARÉ DE<span class="colorido">
        <span class="letra">B</span>
        <span class="letra">R</span>
        <span class="letra">I</span>
        <span class="letra">N</span>
        <span class="letra">C</span>
        <span class="letra">A</span>
        <span class="letra">D</span>
        <span class="letra">E</span>
        <span class="letra">I</span>
        <span class="letra">R</span>
        <span class="letra">A</span>
        <span class="letra">S</span>
      </span></h1>
    <h2>Caixa</h2>
  </section>

  <section class="container endereco">
    <div class="endereco-box">
      <h2>Endereço de entrega</h2>
      <div class="endereco-info">
        <p>Antônio Batista Roberto (+55) 11 99999-0909 - R. Noberto Fraga, APTO 365, Paraíso, São Paulo, SP, 04125-090</p>
        <a href="#" class="editar-endereco" title="Editar endereço">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        
      </div>
    </div>
  </section>
  
  <section class="pedido-produtos container">
    <h2 class="titulo-secao">Produtos Pedidos</h2>
  
    <div class="pedido-box">
      <div class="info-vendedor">
        <i class="fa-solid fa-store"></i>
        <span>Produto fornecido por Oceano Encantado</span>
      </div>
  
      <div class="lista-produtos">
     
        <div class="produto-detalhado">
          <img src="assets/img/moranguinho-1500-1.jpg" alt="Produto" />
          
          <div class="detalhes-produto">
            <p class="nome-produto">Boneca Moranguinho anos 2000</p>
          </div>
      
          <div class="quantidade-controle">
            
            <span class="quantidade">1</span>
           
          </div>
      
          <div class="preco-unidade">R$94,90</div>
          <div class="subtotal">R$94,90</div>
      
         
        </div>
      </div>
  
      <div class="opcao-envio">
        
        <div class="envio-info">
          <p><strong>Opção de envio:</strong> Entrega Padrão (CORREIOS)</p>
          <p class="entrega-data">Receba até 25 dias úteis</p>
          
        </div>
        <div class="frete-preco">R$23,87</div>
      </div>
    </div>
  </section>
  
  
  <div class="resumo-pedido">
    
    <div class="bloco metodos-pagamento">
      <p>Detalhes de pagamento</p>
      <div class="opcoes-pagamento">
        <button>
          <i class="icon-cartao"></i> Cartão de Crédito
        </button>
        <button class="editar-cartao-button" [routerLink]="['/register/card']" title="Editar cartão">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </div>
    </div>
    

      <div class="linha-cinza"></div>
  
    <div class="bloco totais">
      <div class="linha-total">
        <span>Total dos Produtos</span>
        <strong>R$94,90</strong>
      </div>
      <div class="linha-total">
        <span>Total do Frete</span>
        <strong>R$23,87</strong>
      </div>
      <div class="linha-total total-final">
        <span>Pagamento Total</span>
        <strong class="preco-final">R$118,77</strong>
      </div>
    </div>
  </div>
  
  <div class="botoes-finalizacao">
    <button class="btn-vermelho" [routerLink]="['/products']">
      Compre novamente
    </button>
    <button class="btn-avaliar" [routerLink]="['/']">
      Avaliar
    </button>
  </div>
  
  
  
  

  
</main>


