<app-header></app-header>
<div class="container_personal">
    <h2 class="title_personal">Olá, {{primeiroNome}}</h2>
    <div class="sidebar_personal">
            <ul>
                <li class="menu-Item active" data-section="dados-pessoais">Dados Pessoais</li>
                <li class="menu-Item" data-section="cartoes">Cartões</li>
                <li class="menu-Item" routerLink="/endereco" routerLinkActive="active">Endereços</li>
                <li class="menu-Item" routerLink="/pedidos" data-section="Meus pedidos">Meus pedidos</li>
                <li class="favoritos" routerLink="/favoritos" data-section="favoritos">Favoritos</li>
                
            </ul>
    </div>
    <div class="content_personal">
        <div id="dados-pessoais" class="active">
            <h3>Dados Pessoais</h3>
        <div class="info">
            <p><strong>Nome Completo</strong>{{customer.name}}</p>
                <p><strong>CPF</strong>{{customer.cpf}}</p>
                <p><strong>Email</strong>{{customer.email}}</p>
                <p><strong>RG</strong>{{customer.rg}}</p>
                <p><strong>Telefone</strong>{{customer.telephone}}</p>
                <p><strong>Data de Nascimento</strong>{{customer.dateOfBirth}}</p>
        </div>
    </div>
    <div class="edit-icon">
        <i (click)="editInformation()" class="fa-regular fa-pen-to-square"></i>
    </div>
    </div>
    <div id="cartoes" class="section">
    </div>
    <div id="enderecos" class="section">
    </div>
  </div>
