<div class="sidebar">
    <div id="logo">
    <img src="assets\img\logo.png" alt="some text" width=60 height=60>
    </div>
    <ul>
      <li>
        <a routerLink="/landing/adm" routerLinkActive="active">Página inicial</a>
      </li>
    </ul>
    <div class="adm">Administrar</div>
    <ul>
        <li><a routerLink="/sales" routerLinkActive="active">Vendas</a></li>
        <li
  class="submenu_Products"
  [class.active]="rla.isActive"
  routerLinkActive="active"
  #rla="routerLinkActive"
  [routerLinkActiveOptions]="{ exact: false }"
>
  <a href="#">Produtos</a>
  <ul>
    <li>
      <a routerLink="/products/list" routerLinkActive="active">Lista de produtos</a>
    </li>
    <li>
      <a routerLink="/category" routerLinkActive="active">Categorias</a>
    </li>
  </ul>
</li>
        <li><a href="#">Avaliações</a></li>
        <li><a routerLink="/collaborators" routerLinkActive="active">Colaboradores</a></li>
    </ul>
</div>