body {
  background-color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;

  #logo {
    display: flex;
  }

  ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;

    li {
      margin-bottom: 15px;
      margin-left: 15px;
    }
  }

  a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;

    &:hover {
      color: #3a86ff;
    }

    &.active {
      color: #3a86ff;
    }
  }

  .adm {
    margin-top: 20px;
    color: #a9a9a9;
  }

  .submenu_Products {
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    transition: background-color 0.3s ease;

    ul {
      padding-left: 15px;
      margin-top: 10px;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      li {
        margin-bottom: 10px;

        a {
          transition: color 0.3s;

          &.active {
            color: #3a86ff;
          }
        }
      }
    }

    &:hover,
    &.active {
      background-color: rgba(58, 134, 255, 0.1);
      padding: 10px;
      border-radius: 10px;

      ul {
        padding: 10px 0;
        max-height: 200px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}