<p-toast></p-toast>
<div class="body">
    <div class="container">
        <form>
            <h1>Acesse sua conta</h1>

            <div class="input-box">
                <label for="txtEmail">E-mail</label>
                <input type="email" name="txtEmail" id="txtEmail" [(ngModel)]="login.email" required>
            </div>

            <div class="input-box">
                <label for="txtPassword">Senha</label>
                <input type="password" name="txtPassword" id="txtPassword" [(ngModel)]="login.password" required>
            </div>

            <div class="forgot">
                <p id="mensageError"></p>
                <p><a href="/login/forget-password">Esqueceu a senha?</a></p>
            </div>


            <button (click)="fazerLogin()" class="enter" type="button">Login</button>

            <div class="register-link">
                <p>Não tem uma conta? <a routerLink="/customers">Clique aqui</a></p>

            </div>
        </form>
    </div>

</div>